<!DOCTYPE html>
<html>
    <head>
        <title>Twitter</title>
        <link rel="stylesheet" href="stylesheets/registro.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a61d9a5be5.js" crossorigin="anonymous"></script>
    </head>
    <body>
            <div class="registro">
                <form >
                    <p id="titulo">Iniciar Sesión</p>
                    <input type="email" id="mail" name="mail" class="text" required placeholder="Correo electrónico">
                    <br>
                    <input type="contrasena" id="contrasena" name="contrasena" class="text" placeholder="Contraseña" required>
                    <br>
                    <input class="ingresar" type="button" value="Registrar">
                    <br>
                </form>
                <p class="crear_cuenta"><a href="/registro"> Regístrate</a></p>
            </div>




    </body>
</html>